<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:link value="Go to main page" outcome="index"/><br/>
    <h:link value="Go to main page (correct user)" outcome="index">
        <f:param name="user" value="bob"/>
        <f:param name="password" value="builder"/>
    </h:link><br/>
    <h:link value="Go to main page (wrong user) (spam it a few times)" outcome="index">
        <f:param name="user" value="bob"/>
        <f:param name="password" value="thebuilder"/>
    </h:link><br/>

    <h:panelGroup rendered="#{reachLimit.reachLimit}">
        <p>You have attempted too many logins. Please slow down and wait</p>
    </h:panelGroup>

    <h:panelGroup rendered="#{not empty request
    .userPrincipal}">
        <p>You are logged in as #{request.userPrincipal.name}</p>
    </h:panelGroup>
</f:view>
</html>
