<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:link value="Go to main page"/><br/>
    <h:link value="Login">
        <f:param name="user" value="bob"/>
        <f:param name="password" value="thebuilder"/>
    </h:link><br/>
    <h:link value="Login (Remember Me)">
        <f:param name="user" value="bob"/>
        <f:param name="password" value="thebuilder"/>
        <f:param name="rememberme" value="true"/>
    </h:link><br/>
    <h:form>
        <h:commandButton action="#{mainPage.logout}" value="Log Out"/>
    </h:form>

    <h:panelGroup rendered="#{not empty mainPage.userPrincipal}">
        You are logged in as #{mainPage.userPrincipal.name}
    </h:panelGroup>

    <h:panelGroup rendered="#{empty mainPage.userPrincipal}">
        You are not logged in
    </h:panelGroup>
</f:view>
</html>
