<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>To trigger login, you must go into a protected page</p>
    <h:outputLink value="servlet">Go to protected Servlet class to authenticate</h:outputLink><br/>
    <h:link outcome="admin/secret-stuffs" value="Go to protected page (using web.xml) to authenticate"/><br/>
    <h:form>
        <h:commandButton action="#{bean.protectedService}"
                         value="Invoke protected EJB method (must be logged in to execute)"/>
    </h:form>
    <h:panelGroup rendered="#{not empty bean.principal}">
        <p>You are logged in as #{bean.principal.name}</p>
        <h:form>
            <h:commandButton action="#{bean.logout}" value="Logout"/>
        </h:form>
    </h:panelGroup>
</f:view>
</html>
