<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>To trigger login, you must go into a protected page</p>
    <h:link outcome="admin/secret-stuffs" value="Go to protected page"/><br/>
    <h:link outcome="login" value="Go to login page"/><br/>

    <h:panelGroup rendered="#{not empty request.userPrincipal}">
        <p>You are logged in as #{request.userPrincipal.name}</p>
        <h:form>
            <h:commandButton action="#{loginBean.logout}" value="Logout"/>
        </h:form>
    </h:panelGroup>
</f:view>
</html>
