<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:outputText value="#{request.userPrincipal.name}"/>
    <h:panelGroup rendered="#{not empty mainPage.name}">
        Name: #{mainPage.name} and Age: #{mainPage.age}<br/>
    </h:panelGroup>
    <h:form>
        <h:commandButton action="#{loginBean.logout}" value="Logout"/>
        <h:commandButton action="#{mainPage.get}" value="Get values"/><br/>
    </h:form>
    <h:link outcome="login" value="Login"/><br/>
    <h:messages/>
</f:view>
</html>
