<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:h="http://xmlns.jcp.org/jsf/html">
<head/>
<body>
<h:form>
    <p>Username: <h:inputText id="username" value="#{loginBean.username}"/> <h:message for="username"/></p>
    <p>Password: <h:inputSecret id="password" value="#{loginBean.password}"/> <h:message for="password"/></p>
    <h:commandButton action="#{loginBean.login}" value="Login"/>
</h:form>
<h:messages globalOnly="true"/>
</body>
</html>
