<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head/>
<body>
<h1>Page</h1>
<h:link value="Index"/><br/>
<h:link value="Bob">
    <f:param name="user" value="bob"/>
    <f:param name="password" value="builder"/>
</h:link><br/>
<h:link value="Cat">
    <f:param name="user" value="cat"/>
    <f:param name="password" value="builder"/>
</h:link><br/>
<h:link value="Invalid User">
    <f:param name="user" value="bobdsf"/>
    <f:param name="password" value="builder"/>
</h:link><br/>
<h:panelGroup rendered="#{not empty request.userPrincipal}">
    You are logged in as #{request.userPrincipal.name}
</h:panelGroup>
</body>
</html>
