<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form rendered="#{empty request.userPrincipal}">
        <h:commandButton action="#{loginPage.authenticateUser}" value="Login"/>
    </h:form>
    <h:form rendered="#{not empty request.userPrincipal}">
        <p>You are logged in as #{request.userPrincipal.name}</p>
        <h:commandButton action="index?faces-redirect=true"
                         actionListener="#{loginPage.logout}"
                         value="Log Out"/>
    </h:form>
</f:view>
</html>
