<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>An error should appear if this page was accessed forcefully, but I'm lazy</p>
    <h:form>
        <h:inputText value="#{signupOAuth.username}"/>
        <h:commandButton action="#{signupOAuth.signup}" value="Sign Up"/>
    </h:form>
</f:view>
</html>
