<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h1>Forgot my login</h1>
    <h:form>
        <h:panelGrid columns="2">
            <h:outputLabel for="user" value="Username"/>
            <h:inputText id="user"
                         required="true"
                         requiredMessage="Please enter a username"
                         value="#{forgotPage.username}"/>
            <h:commandButton action="#{forgotPage.submit}" value="Submit"/>
        </h:panelGrid>
    </h:form>
    <h:outputText rendered="#{not empty forgotPage.username}"
                  value="If the username is valid, you'll receive a token"/>
</f:view>
</html>
