<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:panelGrid>
        <h:link outcome="signup" value="Sign Up"/>
        <h:link outcome="login" value="Log In"/>
        <h:link outcome="forgot" value="Forgot Login"/>
        <h:form rendered="#{not empty request.userPrincipal}">
            <h:panelGrid>
                <h:outputText rendered="#{userSession.user.limitedAccess}"
                              value="You have limited access, please verify"/>
                <h:outputText value="Username: #{userSession.user.name}"/>
                <h:outputText value="Email: #{userSession.user.email}"/>
                <h:commandButton action="#{indexPage.logout}" value="Log Out"/>
            </h:panelGrid>
        </h:form>
    </h:panelGrid>
</f:view>
</html>
