<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h1>Log In</h1>
    <h:form>
        <h:panelGrid columns="3">
            <h:outputLabel for="input" value="Username "/>
            <h:inputText id="input" required="true" value="#{loginPage.username}"/>
            <h:message for="input"/>

            <h:outputLabel for="password" value="Enter password "/>
            <h:inputSecret id="password" required="true" value="#{loginPage.password}"/>
            <h:message for="password"/>

            <h:panelGroup/>
            <h:commandButton action="#{loginPage.login}" value="Login"/>
        </h:panelGrid>
    </h:form>
    <h:messages/>
</f:view>
</html>
