<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h1>Sign Up</h1>
    <!-- redisplay is only for testing -->
    <!-- in real life, don't, security nightmare -->
    <p>
        Ugly - Message validation not done properly, Confirm Password has no NotNull error, Email tag needs a required field or else error on null submit. But much cleaner code
    </p>
    <h:form>
        <h:panelGrid columns="3">
            <h:outputLabel for="input" value="Username "/>
            <h:inputText id="input" value="#{signUpPage.user.name}"
                         validator="#{signUpPage.validateDuplicateUser}"/>
            <h:message for="input"/>

            <h:outputLabel for="password" value="Enter password "/>
            <h:inputSecret id="password" redisplay="true"
                           requiredMessage="Please enter password" value="#{signUpPage.user.password}"/>
            <h:message for="password"/>

            <h:outputLabel for="confirm" value="Confirm password "/>
            <h:inputSecret id="confirm" redisplay="true"
                           requiredMessage="Please confirm password"/>
            <h:panelGroup>
                <h:message for="confirm"/>
                <o:validateEqual id="equal" components="password confirm"
                                 message="Passwords are not equal" showMessageFor="password"/>
            </h:panelGroup>

            <h:outputLabel for="email" value="Email "/>
            <h:inputText id="email" validator="#{signUpPage.validateEmail}"
                         required="true" value="#{signUpPage.user.email}">
            </h:inputText>
            <h:message for="email"/>

            <h:outputLabel for="agree" value="Agree to ToS "/>
            <h:selectBooleanCheckbox id="agree" requiredMessage="You must agree before signing up">
                <f:validator validatorId="omnifaces.RequiredCheckboxValidator"/>
            </h:selectBooleanCheckbox>
            <h:message for="agree"/>

            <h:panelGroup/>
            <h:commandButton action="#{signUpPage.action}" value="Submit"/>
        </h:panelGrid>
    </h:form>
</f:view>
</html>
