<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:panelGrid>
        <h:outputText value="Sign Up process done. Check your email or phone or server log"/>
        <h:outputText
                value="This page exist to make sure the flow of page is correct, and because users will press the refresh button"/>
        <h:outputText value="Check your email or your phone or the server log for the token"/>
    </h:panelGrid>
</f:view>
</html>
