<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <f:metadata>
        <f:viewParam name="token" value="#{verifyPage.token}"/>
        <f:viewAction action="#{verifyPage.action}"/>
    </f:metadata>

    <h:outputText rendered="#{empty verifyPage.type}"
                  value="You have come to this page without a valid token"/>

    <h:outputText rendered="#{verifyPage.type == 'signup'}"
                  value="The user has unlimited status. Thank you"/>

    <h:panelGroup rendered="#{verifyPage.type == 'forgot'}">
        <h:form>
            <h:panelGrid columns="3">
                <h:outputText value="Changing password for user #{verifyPage.name}"/>
                <h:panelGroup/><h:panelGroup/>

                <h:outputLabel for="password" value="Enter new password "/>
                <h:inputSecret id="password" required="true" redisplay="true"
                               requiredMessage="Please enter password" value="#{verifyPage.password}"/>
                <h:message for="password"/>

                <h:outputLabel for="confirm" value="Confirm new password "/>
                <h:inputSecret id="confirm" required="true" redisplay="true"
                               requiredMessage="Please confirm password"/>
                <h:panelGroup>
                    <h:message for="confirm"/>
                    <o:validateEqual id="equal" components="password confirm"
                                     message="Passwords are not equal" showMessageFor="password"/>
                </h:panelGroup>

                <h:commandButton action="#{verifyPage.submitPasswordChange}" value="Submit"/>
            </h:panelGrid>
        </h:form>
        <h:outputText rendered="#{verifyPage.changePasswordSuccess}"
                      value="You have successfully changed your password"/>
    </h:panelGroup>
</f:view>
</html>
