<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:link value="Go to main page"/><br/>
    <h:link value="Login">
        <f:param name="user" value="bob"/>
        <f:param name="password" value="thebuilder"/>
    </h:link><br/>
    <h:link value="Login Master">
        <f:param name="user" value="bob"/>
        <f:param name="password" value="master"/>
    </h:link><br/>
    <h:link value="Login Wrong User">
        <f:param name="user" value="bobx"/>
        <f:param name="password" value="thebuilder"/>
    </h:link><br/>

    <h:panelGroup rendered="#{not empty request.userPrincipal}">
        You are logged in as #{request.userPrincipal.name}
    </h:panelGroup>

    <h:panelGroup rendered="#{empty request.userPrincipal}">
        You are not logged in
    </h:panelGroup>
</f:view>
</html>
